.container {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #395144;
    color: white;
    font-family: sans-serif;
}

input {
    background-color: #F0EBCE;
    padding: 5px;
    border-radius: 7px;
}

button {
    background-color: #AA8B56;
    margin-top: 10px;
    color: white;
    padding: 10px;
    border-radius: 7px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

a {
    color: white;
    background-color: #393E46;
    padding: 20px;
    text-decoration: none;
    border-radius: 7px;
    font-size: 14px;
}

#a2 {
    margin-left: 20px;
}
